<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MediDiag - Online Diagnosis</title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
  <link rel="stylesheet" type="text/css" href="/main/main.css">
  <link rel="stylesheet" type="text/css" href="/navbar/navbar.css">
  <link rel="stylesheet" type="text/css" href="/home_page/launch_page.css">
  <link rel="stylesheet" href="/about/about.css">
  <link rel="stylesheet" href="/features/features.css">
  <link rel="stylesheet" href="/faqs/faqs.css">
  <link rel="stylesheet" href="/contact/contact.css">
  <link rel="stylesheet" type="text/css" href="/footer/footer.css">
  <!-- <link rel="stylesheet" type="text/css" href="/scroll_btn/scroll_btn.css"> -->
</head>
<body>

<nav>
  <div class="brand" onclick="window.location.href = '/'">MediDiag</div>

  <div class="nav-links" id="navLinks">
    <a href="/" >Home</a>
    <a href="/home/about/launch_page">About</a>
    <a href="/home/features/launch_page" >Features</a>
    <a href="/home/faqs/launch_page">FAQs</a>
    <a href="/home/contact/launch_page">Contact</a>
  </div>

  <div class="hamburger" id="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>




