<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MediDiag - Online Diagnosis</title>
<!-- <link rel="stylesheet" href="/style.css"> -->
  <link rel="stylesheet" type="text/css" href="/main/main.css">
  <link rel="stylesheet" type="text/css" href="/navbar/navbar.css">
  <link rel="stylesheet" type="text/css" href="/footer/footer.css">
  <link rel="stylesheet" type="text/css" href="/scroll_btn/scroll_btn.css">
  <link rel="stylesheet" type="text/css" href="/home_page/pre_login.css">
  <link rel="stylesheet" href="/about/about.css">
  <link rel="stylesheet" href="/features/features.css">
  <link rel="stylesheet" href="/faqs/faqs.css">
  <link rel="stylesheet" href="/contact/contact.css">
</head>
<body>

<nav>
  <div class="brand" onclick="window.location.href = '/'">MediDiag</div>

  <div class="nav-links" id="navLinks">
    <a href="/preLogin/home/selectRole/<%=role %>" >Home</a>
    <a href="/preLogin/about/pre_login" >About</a>
    <a href="/preLogin/features/pre_login" >Features</a>
    <a href="/preLogin/faqs/pre_login">FAQs</a>
    <a href="/preLogin/contact/pre_login" >Contact</a>
  </div>

  <div class="hamburger" id="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>




